body {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #e6cfdd 50%, #fff);
}
.grid {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;

    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid > button {
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #aacc8f;

    cursor: pointer;
    outline: none;

    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 15px;
}
.grid > button:hover {
    background-color: #dbffbf;
}

.allClear {
    grid-column: 1/3;
}
.equals {
    grid-column: 3/5;
}

.output {
    grid-column: 1/5;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px;
}
.output .previous {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85);
}
.output .current {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
}
